@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&family=Montserrat:wght@300&family=Roboto+Condensed:wght@300&display=swap');

table {
    border-collapse: collapse;
    border: 3px solid white;
    text-align: left;
    padding: 10px;
    width: 600px;

}


th, td {
    text-align: left;
    padding: 5px;
}
 th
  {
    background-color:#860070;
    color: white;
    padding: 20px;     
  }

 table,th,td
  {
    border:2px solid white;
    text-align: left;
    
  }

  table
  {
    border-collapse:collapse;
    width:600px;
    
 }

  td
  {
    height:40px;
   
}

  tr:nth-child(odd)
  {
    background-color: #f37ecf;
    color:white;
  }

  tr:nth-child(even)
  {
    background-color: #af5593;
    color:white;
  }
  
  
 